body{
    background-color: lightblue;
}

.divcinza{
    background-color: gray;
}

.divcinza h1{
    color: white;
}

*{
    margin-left: 10px;
}

p{
    font-weight: 900;
}

.pargrafo{
    font-weight: 100;
}

a:hover{
    font-size: 100px;
}
